.container {
  width: 1000px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 20px;
}
header {
  margin-bottom: -40px;
  grid-column: 1 / 4;
}
header p {
  padding: 0 250px;
}
.supervisor {
  grid-row: 2 / 4;
  align-self: center;
}
.calculator {
  grid-row: 2 / 4;
  grid-column: 3 / 4;
  align-self: center;
}
.info p {
  padding-right: 40px;
}